{% extends 'base.html' %}

{% block content %}

    <header class="navbar navbar-inverse bs-docs-nav">
        <div class="navbar-header">
            <a href="/monkeys/" class="navbar-brand">Monkeys</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/edit/">Edit your profile</a>
                </li>
                <li>
                    <a href="/logout/">logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="profile">
        <div>Name: {{ monkey.name }}</div>
        <div>E-mail: {{ monkey.email }}</div>
        <div>Age: {{ monkey.age }}</div>
    </div>
{% endblock content %}
