{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <label for="name">Name</label>
        {{ form.name() }}
        {% for error in form.errors.name %}<span class="help-inline">[{{ error }}]</span><br>{% endfor %}

        <label for="email">E-mail</label>
        {{ form.email() }}
        {% for error in form.errors.email %}<span class="help-inline">[{{ error }}]</span><br>{% endfor %}

        <label for="date_of_birth">Date of Birth</label>
        {{ form.date_of_birth() }}
        {% for error in form.errors.date_of_birth %}<span class="help-inline">[{{ error }}]</span><br>{% endfor %}

        <label for="passsword">Password</label>
        {{ form.password() }}
        {% for error in form.errors.password %}<span class="help-inline">[{{ error }}]</span><br>{% endfor %}

        <input type="submit">
    </form>
{% endblock content %}